.post {
  width: 100%;

  &--content {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  h4 {
    text-align: end;
  }

  &--comments {
    h3 {
      margin-bottom: 1rem;
    }

    width: 100%;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 1rem;
  }

  .comment span {
    font-weight: bold;
  }
}
